{% extends 'Index/dashboard.html' %}
{% block heading %}
    <div class="bgimg-1 w3-opacity w3-display-container">
      <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">ANTIQUE  DETAILS</span>
      </div>
    </div>
{% endblock %}

{% block body %}


{% load staticfiles %}

{% if cur_item %}
<div class="w3-col m2 w3-container w3-section">
    </div>
  <div class="w3-col m4 w3-container w3-section">
<ul class="w3-card-16 w3-ul">


  <li class="w3-padding-large">
    <h3><i>Details of Items</i></h3>
  </li>
  <li class="w3-padding-large">
  	<div id="imgsize">
  		<img src="{{ cur_item.item_logo.url }}" class="img-responsive">
  	</div>
    <p class="uppercase">Name: <b>{{cur_item.item_name}}</b><br></p>
    <p class="uppercase">Item ID: <b>{{cur_item.item_id}}</b><br></p>
    <p class="uppercase">Seller: <b>{{cur_item.seller}}</b><br></p>
    <p class="uppercase">Created On: <b> {{cur_item.created_on}}</b><br></p>
	<p class="uppercase">Current Highest Bidder: <b>{{cur_item.cur_highest_bidder}}</b><br></p>
	<p class="uppercase">Current Highest Bid: <b>{{cur_item.cur_highest_bid}}</b><br></p>
	<p class="uppercase">Minimum Price: <b>{{cur_item.min_price}}</b><br></p>
	<p class="uppercase">Buy Now: <b>{{cur_item.buy_now_price}}</b><br></p>


  </li>
    </ul>
    <!--div class="w3-col m8 w3-container">
        <ul>

            <ul>
                <img src="{{ cur_item.item_logo.url }}" class="img-responsive">
                <li>Name: {{cur_item.item_name}}</li>
                <li>Item ID: {{cur_item.item_id}}</li>
                <li>Seller: {{cur_item.seller}}</li>
                <li>Created on: {{cur_item.created_on}}</li>
                <li>Current highest bidder: {{cur_item.cur_highest_bidder}}</li>
                <li>Current highest bid: {{cur_item.cur_highest_bid}}</li>
                <li>Minimum price: {{cur_item.min_price}}</li>
                <li>Buy now: {{cur_item.buy_now_price}}</li>

            </ul-->

            <form action="{% url 'Browse:update' cur_item.item_id %}" method="POST">
            {% csrf_token %}
                <input type="text" name="bid_value">
                <button type="submit" class ="w3-btn w3-center">SUBMIT BID</button>
            </form>

        </ul>
    </div>
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}")
            {% endfor %}
        </script>
    {% endif %}

{% else %}
    <h1>YOU DON'T HAVE ANY ITEMS</h1>
{% endif %}

{% endblock %}